<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Lounge</title>
    <link rel="stylesheet" href="/styles/lounge.css">
</head>
<body>
    <div class="container">
        <h1>So who are you?</h1>
        <div class="boxes-container">
            <div class="box" data-box="user">
                <h2>A user</h2>
                <form action="/auth/user" method="get">
                    <input type="submit" value="Login">
                </form>
            </div>
            <div class="box" data-box="admin">
                <h2>An admin</h2>
                <form action="/auth/admin" method="get">
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>

    <script src="/js/lounge.js"></script>
</body>
</html>