<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Admin Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <div class="container">
        <div class="charging-status">
            <p>User 1 is charging</p>
            <form action="" method="post">
                <button type="submit" style="color: red;">x</button>
            </form>
        </div>
        <form action="/create-user" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="passwd">Password</label>
            <input type="password" name="password" id="passwd">

            <input type="submit" value="Create new user">
        </form>

        <div class="logs">
            <table>
                <thead>
                    <th>Sr.no</th>
                    <th>User Name</th>
                    <th>Time Period</th>
                    <th>Time Stamp</th>
                    <th>Bill</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>testuser</td>
                        <td>10min</td>
                        <td>10:00:00 am</td>
                        <td>0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>