<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>

<body>
    <div class="charging-form">
        <form action="/start-charging" method="post">

            <input type="radio" name="time" id="time">
            <label for="time">5min</label>

            <input type="radio" name="time" id="time">
            <label for="time">10min</label>

            <input type="radio" name="time" id="">
            <label for="">15min</label> <br>

            <label for="btn">Start Charging</label>
            <input type="submit" value="⚡">
        </form>
    </div>

    <div class="logs">
        <table>
            <thead>
                <th>Sr.no.</th>
                <th>Date</th>
                <th>Bill</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>sample</td>
                    <td>0.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>